
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  /*background-image: linear-gradient(to bottom, #57BBBF 40%, white);*/
  background-image: url(imagens/planodefundo.png);
  background-attachment: fixed;
  font-family: "Exo", sans-serif;
  position: relative;
  z-index: -1;
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content:left;
    align-items: center;
    min-width: 100%;
    
  }
  
  .header-title {
    font-family: 'Fascinate Inline', system-ui;
    color: black;
    font-size: 36px;
    
  }
  
  .header-logo {
    height: 60px;
    width: 60px;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
    
  }
  
  .header-logo img {
    height: 100%;
    width: 100%;
    
  }

  .menu{
      display: inline-flex;
      margin-left: auto;     
  }

  h2{
      font-size: 18px;
      margin-right: 10px;
  }

.section-text {
	padding: 30px;
	text-align: center;
  z-index: 2;
}

.section-text h3 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
  color: black;
  z-index: 2;
}

.section-text p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0 px;
  text-align: left;
  color: black;
  z-index: 2;
}

.section-text h4 {
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 10px;
  text-align: left;
  color: black;
  z-index: 2;
}

.section-video {
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
  margin-left: 20px;
	text-align: center;
  z-index: 2;
}

.section-video iframe {
	border: none;
	width: calc(50% - 15px);
	margin: 0 7.5px 15px 7.5px;
	display: inline-block;
	vertical-align: top;
  z-index: 2;
}

@media (max-width: 600px) {
	.section-video iframe {
		width: 90%;
	}
}

.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

.exo {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.app-icon-container {
    position: static;
    bottom: -30px;
    left: 25%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
.app-icon {
    width: 50px;
    height: 50px;
    z-index: 2;
}

.section-links{
  text-align: left;
  margin-left: 20px;
  z-index: 2;
}

.texto-apps{
  font-size: 18px;
	line-height: 1.5;
	margin-bottom: 10px;
  margin-left: 25px;
  text-align: left;
  color: black;
  z-index: 2;
}

.box_1{
  width: 450px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  z-index: 2;
}

.box_2{
  width: 450px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  z-index: 2;
}

.box_3{
  width: 450px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  z-index: 2;
}

h5{
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 20px;
  text-align: left;
  z-index: 2;
}

a{
  margin-right: 10px;
  margin-left: 20px;
  z-index: 2;
}

.exercicio-fundo{
  position: absolute;
  width: 10px;
  top: 0px;
  left: 400px;
  z-index: 1;
}






  